:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.content {
    margin: 0 auto;

    width: 650px;
    max-width: calc(100% - 48px);

    padding: 36px 24px;

    .team-images {
        height: 35vh;
        min-height: 320px;
    }

    .image {
        height: 27.73vh;
        max-height: 320px;

        position: relative;

        cursor: pointer;

        transition: height 0.2s ease;

        &.active {
            height: 30.73vh;
        }

        .img-wrap {
            position: relative;

            overflow: hidden;

            width: 100%;
            height: 100%;
        }

        .selected-arrow {
            position: absolute;
            top: 100%;
            left: 50%;

            transform: translate(-50%, -50%) rotateZ(-90deg);

            mix-blend-mode: difference;
        }

        app-ratio-img {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }

    .selected-member {
        margin: 36px 0;
    }

    h1 {
        margin-top: 0px;
    }
}
