<div class="content">
    <div class="team-images" fxLayout="row">
        <div (click)="selectMember(member)" *ngFor="let member of (fields$ | async)?.members" fxFlex="33%" class="image" [class.active]="selectedMember === member">
            <div class="img-wrap">
                <app-ratio-img imgsize="cover" [src]="member.fields.image.fields.file.url" alt=""></app-ratio-img>
            </div>
            <img class="selected-arrow" *ngIf="selectedMember === member" src="/assets/Forward.svg" alt="Forward Arrow">
        </div>
    </div>
    <div class="selected-member">
        <h1 class="article-heading">{{ selectedMember?.fields.name }}</h1>
        <p>{{ selectedMember?.fields.bio }}</p>
    </div>
</div>
<app-footer></app-footer>
