<div [@visit]="animState" class="content">
    <div *ngIf="fields?.overlay_text" class="hero" fxLayoutAlign="center center">
        <app-ratio-img imgsize="cover" [src]="fields?.image.fields.file.url + '?fm=jpg&fl=progressive&w=486&h=484'" alt=""></app-ratio-img>
        <h1 class="overlay">
            {{ fields?.overlay_text }}
        </h1>
    </div>
    <div class="actions" fxLayout="column" fxLayoutAlign="center center">
        <a *ngFor="let action of fields?.actions" [href]=" action.fields.url " class="link btn-font">{{ action.fields.title }}
            <img src="/assets/Forward.svg" alt="Forward Arrow"> </a>
    </div>
</div>
