:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    padding-top: 36px;
}

app-header-image {
    margin-bottom: 24px;
}

#Content {
    padding: 0 24px;

    margin: 0 auto;
    margin-bottom: 36px;

    width: 650px;
    max-width: calc(100% - 48px);

    h1 {
        margin: 0;
    }

    .quote {
        position: relative;

        padding-top: 43px;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-53%);
        }

        p {
            text-align: center;
            text-indent: 0px;
        }
    }
}
