<div class="menu" fxLayoutAlign="center center">
    <app-menu></app-menu>
    <!-- <img src="assets/Menu.svg" alt="Menu Button"> -->
    <a routerLink="/" fxLayout="column" fxLayoutAlign="center center">
        <span class="org-abbrv">E.A.F.V</span>
        <span class="org-title">Emerging Artists Fox Valley</span>
    </a>
</div>

<!-- <app-router-anim *ngIf="o.isActivated"></app-router-anim> -->

<!-- [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" -->
<main
    fxFlex="1 1 auto"
    fxLayout="column"
    [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
>
    <div [@loading] class="anim">
        <div class="inner a"></div>
        <div class="inner b"></div>
    </div>
    <router-outlet #o="outlet"></router-outlet>
</main>
