:host {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.menu {
    height: 64px;

    position: relative;
    z-index: 100;

    app-menu {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.15em;

        text-indent: 0px;
    }
}
