:host {
    display: block;
}

.menu {
    height: 64px;

    position: relative;

    img {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        font-family: 'Oranienbaum', serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 5px;
    }
}
