:host {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.menu {
    height: 64px;

    position: relative;
    z-index: 100;

    app-menu {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.15em;

        text-indent: 0px;

        color: white;
        text-decoration: none;

        &.org-title {
            font-family: Oranienbaum;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: normal;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: capitalize;

            color: rgba(255, 255, 255, 0.54);
        }
    }
}

.anim {
    width: 100vw;
    height: 100vh;

    background: #1b1a18;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: -1;

    .inner {
        position: absolute;
        left: 0%;
        bottom: 0;

        width: 100%;
        height: 200%;

        bottom: 100%;
        transform: translateY(0%);

        &.a {
            background: white;
        }

        &.b {
            height: 75%;
            background: lighten(#1b1a18, 0);
        }
    }
}
