$primary-bg: #1b1a18;

svg {
    cursor: pointer;

    position: relative;
    z-index: 101;

    overflow: visible;

    line {
        transform: translate(0, 0) rotateZ(0);
        transform-origin: 50% 50%;

        transition: transform 0.2s ease;
    }

    &.active {
        line {
            transform: rotateZ(45deg);

            &:last-of-type {
                transform: translate(15%, -25%) rotateZ(-45deg);
            }
        }
    }
}

.menu {
    position: absolute;
    top: -24px;
    left: -24px;

    background: $primary-bg;

    width: 320px;
    &.mobile {
        width: 100vw;
    }

    max-width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    z-index: 100;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);

    transition: opacity 2s ease;

    &.active {
        opacity: 1;
    }

    .wrap {
        width: calc(100% - 48px);
        max-width: 650px;

        a {
            text-indent: 0;

            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 24px;
            letter-spacing: 0.15em;
            text-transform: uppercase;

            color: #666;

            &:not(:last-of-type) {
                margin-bottom: 12px;
            }

            span {
                font-family: 'Oranienbaum', serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;

                color: white;
            }
        }
    }
}
