:host {
    display: block;
}

.header-image-container {
    margin: 0 auto;
    // width: 363px;
    max-width: 100%;
    height: 25.7vh;
    max-height: 336px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.06);
}

.skeleton-img {
}
